body {
  background-color: black;
}

 /* The animation code */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

p {
  color: white;
  text-align: left;
  letter-spacing: 12px;
  font-size: 32px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

* {
  color: grey;
  text-align: center;
  letter-spacing: 6px;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
}
