body {
  background-color: red;
}

* {
  color: white;
  text-align: center;
  letter-spacing: 8px;
  font-size: 48px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}
